<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Prerendered Svelte App</title>
    <link rel="stylesheet" href="/_dist_/main.css" />
    %svelte.head%
  </head>
  <body>
    <div id="app">
      %svelte.html%
    </div>
    <script type="module" src="/_dist_/client.js"></script>
  </body>
</html>
